.actionBtn {
  background-color: slateblue;
  border-radius: 25px;
  border: none;
  color: white;
  cursor: pointer;
  flex: 1;
}

.actionBtn[isprimary|="false"] {
  background-color: white;
  border: 1px solid slateblue;
  color: slateblue;
}

.actionBtn[isprimary|="true"] {
  background-color: slateblue;
  border: none;
  color: white;
}
