.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: sticky;
  top: 0;
  height: 13vh;
  background-color: white;
  padding: 5px 0;
  z-index: 2;
}

.input {
  /* font-size: 13px; */
  padding-left: 5px;
  border-radius: 25px;
  border: 1px solid black;
  flex: 1;
}

@media (min-width: 481px) {
  .inputContainer {
    height: 6rem;
  }
}